html {
  background-color: rgba(0, 70, 92, 1);
  font-family: cursive;
}


#recommendationsPage {
  width: 100%;
  text-align: center;
}

#recommendationsPage h1 {
  margin-bottom: 0;
  color:rgba(255, 133, 216, 1);
}

#recommendationsPage a {
  color: rgba(255, 133, 216, 1);
}

#galleryPage {
  text-align: center;
  color: rgba(255, 133, 216, 1);
}

ul {
  text-align: left;
}

#fiveRecommends, #socialMedia {
  box-sizing: border-box;
  border: 10px solid rgba(255, 133, 216, 1);
  border-radius: 1em;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 2%;
  min-height: 300px;
  max-height: 400px;
}

#recommendListWrapper, #socialMediaWrapper {
  display: grid;
  grid-template-columns: repeat(1fr, 5);
}

#recommendListWrapper ul, #socialMediaWrapper ul {
  grid-column: 2 / 3;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.galleryImage {
  width: 75%;
  height: 50%;
}

#header {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  text-align: center;
  margin-top: 2%;
}

#aboutMePage {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  width: 100%;
  text-align: center;
  color: rgba(255, 133, 216, 1);
}

#aboutMeContent {
  box-sizing: border-box;
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
  border: 10px solid rgba(255, 133, 216, 1);
  padding: 20px;
  border-radius: .5em;
}

span a {
  color:rgba(255, 133, 216, 1);
}

.headerItem{
  color:rgba(255, 133, 216, 1);
  border: 4px solid rgba(255, 133, 216, 1);
  border-radius: .5em;
}

.headerItem:hover {
  background-color: rgba(77, 147, 169, 1);
}

#aboutMeButton {
  grid-column: 1 / 2;
}

#friendAppButton {
  grid-column: 2 / 3;
}

#recommendationsButton {
  grid-column: 3 / 4;
}

#galleryButton {
  grid-column: 4 / 5;
}

#aboutMePic {
  width: 480px;
  height: 270px;
  margin-top: 5%;
  border: 10px solid rgba(255, 133, 216, 1);
  border-radius: 5em;
}

#friendApplicationPage {
  box-sizing: border-box;
  text-align: center;
  width: 95%;
  margin-left: 2.5%;
}

fieldset {
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  color:rgba(255, 133, 216, 1);
  margin-top: 25px;
  border: 10px solid rgba(255, 133, 216, 1);
  border-radius: 5em;
  height: 400px;
}

fieldset div {
  grid-column: 2 / 3;
  position: relative;
}

label {
  display: block;
}

.age {
  display: inline-block;
  margin-top: 3%;
}

#genderP {
  margin-bottom: 1%;
}

.genders {
  display: inline-block;
}

.radios {
  display: inline-block;
}

#aboutSelf {
  margin-top: 2%;
}

#kissP {
  margin-top: 2%;
}

#kissQs input, #kissQs label {
  display: inline-block;
}

button {
  margin-top: 2%;
  background-color:rgb(13, 69, 86);
  color: rgba(255, 133, 216, 1);
  font-size: 1em;
  border-radius: 2em;
}

button:hover {
  background-color: rgb(33, 105, 128);
}

#ahegao {
  position: absolute;
  opacity: .25;
  width: 90%;
  max-width: 100%;
  height: 400px;
  left: 5%;
  border-radius: 5em;
}

.ahegao{
  position: absolute;
  opacity: .25;
  width: 72.5%;
  height: 280px;
  left: 13.75%;
  border-radius: 5em;
  z-index: -1;
}
